<div id="<%= dom_id debfixo %>">
  <div>
    <strong>Nome debfx:</strong>
    <%= debfixo.nome_debfx %>
  </div>

  <div>
    <strong>Valor debfx:</strong>
    <%= debfixo.valor_debfx %>
  </div>

  <div>
    <strong>Cmpt ini:</strong>
    <%= debfixo.cmpt_ini %>
  </div>

  <div>
    <strong>Cmpt fim:</strong>
    <%= debfixo.cmpt_fim %>
  </div>

  <div>
    <strong>Quitado:</strong>
    <%= debfixo.quitado %>
  </div>

</div>
