<%= form_with(model: debfixo) do |form| %>
  <% if debfixo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(debfixo.errors.count, "error") %> prohibited this debfixo from being saved:</h2>

      <ul>
        <% debfixo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Nome do débito", style: "display: block" %>
    <%= form.text_field :nome_debfx %>
  </div>

  <div>
    <%= form.label "Valor", style: "display: block" %>
    <%= form.text_field :valor_debfx %>
  </div>

  <div>
    <%= form.label "Data do primeiro pagamento", style: "display: block" %>
    <%= form.date_field :cmpt_ini %>
  </div>

  <div>
    <%= form.label "Data do último pagamento", style: "display: block" %>
    <%= form.date_field :cmpt_fim %>
  </div>

  <div>
    <%= form.label "Contrato", style: "display: block" %>
    <%= form.collection_select :contrato_id, Contrato.all, :id, :nome_empresa, prompt: "Selecione um contrato" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
