<%= form_with(model: debfixo) do |form| %>
  <% if debfixo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(debfixo.errors.count, "error") %> prohibited this debfixo from being saved:</h2>

      <ul>
        <% debfixo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Nome do débito", style: "display: block" %>
    <%= form.text_field :nome_debfx, placeholder: "Digite o nome do débito", required: true, title: "Digite um nome para esse Débito fixo" %>
  </div>

  <div>
    <%= form.label "Valor", style: "display: block" %>
    <%= form.text_field :valor_debfx, placeholder: "Valor pago por mês", required: true, title: "Digite o valor pago por mês" %>
  </div>

  <div>
    <%= form.label "Data do primeiro pagamento", style: "display: block" %>
    <%= form.date_field :cmpt_ini, required: true, title: "Digite a data inicial do pagamento (convertido para YYYYMM)" %>
  </div>

  <div>
    <%= form.label "Data do último pagamento", style: "display: block" %>
    <%= form.date_field :cmpt_fim, required: true, title: "Digite a data final do pagamento (convertido para YYYYMM)"%>
  </div>

  <div>
    <%= form.label "Contrato", style: "display: block" %>
    <%= form.collection_select :contrato_id, Contrato.all, :id, :nome_empresa, prompt: "Selecione um contrato...", required: true %>
  </div>

  <div>
    <%= form.submit "Criar débito fixo"%>
  </div>
<% end %>
