<p style="color: green"><%= notice %></p>

<%= render @debfixo %>

<div>
  <%= link_to "Edit this debfixo", edit_debfixo_path(@debfixo) %> |
  <%= link_to "Back to debfixos", debfixos_path %>

  <%= button_to "Destroy this debfixo", @debfixo, method: :delete %>
</div>
