<h1>Seja bem-vindo <%= current_user.userconf.nome %>!</h1>

<nav>
  <%= link_to "Contratos", contratos_path %>
  <% if @contratos.present? %>
    <%= link_to "| Débitos", debitos_path %>
    <%= link_to "| Débitos Fixos", debfixos_path %>
  <% end %>
</nav>

<br><br>

<h3>Débitos relativos a competência <%= formata_datas(Date.today) if !params[:search].present? %> - (<%= params[:search].present? ? "#{params[:search]}" : CalculosSistema.gera_cmpt(Date.today)%>)</h3>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.text_field :search,
        value: params[:search],
        placeholder: "Pesquisar competência" %>

  <%= form.submit "Pesquisar" %>
<% end %>

<hr>

<% if (@debitos.present? || @debfixos.present?) && @contrato_salario.present? %>
  <table>
    <thead>
      <tr>
        <th>Nome do Débito</th>
        <th>Valor (R$)</th>
        <th>Descrição</th>
        <th>Data de vencimento</th>
        <th>Competência</th>
      </tr>
    </thead>

    <tbody>
      <% @debfixos.each do |db|%>
        <tr>
          <td><%= db.nome_debfx %></td>
          <td><%= formata_moedas(db.valor_debfx) %></td>
          <td>Débito fixo</td>
          <td>Mensal</td>
        <td><%= "#{db.cmpt_ini} - #{db.cmpt_fim}" %></td>
        </tr>
      <% end %>

      <% @debitos.each do |d| %>
        <tr>
          <td><%= d.nome_debito %></td>
          <td><%= formata_moedas(d.valor_debito) %></td>
          <td><%= d.descricao %></td>
          <td><%= formata_datas(d.data_vencimento) %></td>
          <td><%= d.cmpt %></td>
          <td><%= link_to "Editar", edit_debito_path(d.id) %></td>
          <td><%= button_to "Excluir", d, method: :delete %></td>
        </tr>
        <% @total_dividas %>
      <% end %>

      <tr>
          <td></td>
          <td><hr>Valor Total : <%= formata_moedas(@total_dividas) %><hr></td>
      </tr>
    </tbody>

    <%= paginate @debitos, params: { search: params[:search] } %>

    <tfoot>
      <tr>
        <td colspan="3">
          <hr>
          <strong>Salário bruto:</strong>
          <%= formata_moedas(@contrato_salario.salario_bruto) %>
          <br>
          <strong>Salário líquido:</strong>
          <%= formata_moedas(@contrato_salario.salario_liquido) %>
          <br>
          <strong>Sobra de salário:</strong>
          <%= formata_moedas(@sobra_salario) %>
          <hr>
        </td>
      </tr>
    </tfoot>
  </table>
  <hr>

  <br>
<% end %>

<%= button_to "Sair", destroy_user_session_path, method: :delete %>