<div id="<%= dom_id debito %>">
  <div>
    <strong>Nome debito:</strong>
    <%= debito.nome_debito %>
  </div>

  <div>
    <strong>Valor debito:</strong>
    <%= formata_moedas(debito.valor_debito) %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= debito.descricao %>
  </div>

  <div>
    <strong>Data vencimento:</strong>
    <%= formata_datas(debito.data_vencimento) %>
  </div>

  <div>
    <strong>Contrato:</strong>
    <%= debito.contrato.nome_empresa %>
  </div>

</div>
