<div id="<%= dom_id debito %>">
  <div>
    <strong>Nome debito:</strong>
    <%= debito.nome_debito %>
  </div>

  <div>
    <strong>Valor debito:</strong>
    <%= debito.valor_debito %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= debito.descricao %>
  </div>

  <div>
    <strong>Fixo:</strong>
    <%= debito.fixo %>
  </div>

  <div>
    <strong>Data vencimento:</strong>
    <%= debito.data_vencimento %>
  </div>

  <div>
    <strong>Contrato:</strong>
    <%= debito.contrato_id %>
  </div>

</div>
