<style>
  #parcela {
    display: none;
  }
</style>

<%= form_with(model: debito) do |form| %>
  <% if debito.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(debito.errors.count, "error") %> prohibited this debito from being saved:</h2>
      <ul>
        <% debito.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_debito, style: "display: block" %>
    <%= form.text_field :nome_debito, placeholder: "Digite um nome", required: true, title: "Informe um nome para esse débito" %>
  </div>

  <div>
    <%= form.label :valor_debito, style: "display: block" %>
    <%= form.text_field :valor_debito, placeholder: "Digite um valor", required: true, title: "Informe um valor para esse débito" %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao, placeholder: "Informe uma descrição para esse débito", required: true, title: "Informe uma descrição para esse débito (opcional)" %>
  </div>

  <div>
    <%= form.label :data_vencimento, style: "display: block" %>
    <%= form.date_field :data_vencimento, required: true, title: "Informe uma data de vencimento para esse débito" %>
  </div>

  <br>

  <div>
    <label for="toggleDiv">Parcelado</label>
    <input type="checkbox" id="toggleDiv" value="1">
  </div>

  <div id="parcela">
    <%= number_field_tag :nro_vezes, placeholder: "N° de parcelas", title: "Informe a quantidade de vezes que o débito foi parcelado" %>
  </div>

  <br>
  
  <div>
    <%= form.label "Contrato", style: "display: block" %>
    <%= form.collection_select :contrato_id, Contrato.all, :id, :nome_empresa, prompt: "Selecione um contrato..." %>
  </div>

  <br>

  <div>
    <%= form.submit "Criar débito" %>
  </div>
<% end %>

