<p style="color: green"><%= notice %></p>

<% content_for :title, "Contratos" %>

<h1>Contratos</h1>

<table>
    <thead>
      <tr>
        <th>Nome da Empresa</th>
        <th>Salário Bruto</th>
        <th>Salário Líquido</th>
        <th>Horas semanais</th>
      </tr>
    </thead>

    <tbody>

      <% @contratos.each do |c| %>
        <tr>
          <td><%= c.nome_empresa %></td>
          <td><%= c.salario_bruto %></td>
          <td><%= c.salario_liquido %></td>
          <td><%= c.horas_semanais %></td>
          <td><%= link_to "Show this contrato", c %></td>
        </tr>
        <% @total_dividas %>
      <% end %>
    </tbody>
</table>
<hr>

<br>

<%= link_to "New contrato", new_contrato_path %>
<%= link_to "Voltar", root_path %>
